// BASE STYLING


// ROOT -------------------------------
#root {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    overflow-y: auto;
    background-color: #000000;
}

// PAGE-CONTENT ---------------------------
.page-content {
    top: var(--app-header-height);
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 1em 0;
}

// APP HEADER
.app-header {
    position: relative;
    z-index: 10;
}

// EVENT FILTER
#filter-container {
    width: 50%;
    height: 7.5em;
    margin: auto;

    #sections-container {
        width: 100%;
        margin: 0.5em auto;

        display: flex;
        align-items: center;
        justify-content: space-between;

        .section-button {
            background-color: #bdbdbd;
            border-style: none;
            border-radius: 0.2em;
            padding: 0.5em;
            width: 32%;

            font-family: var(--base-font-family)
        }
        .section-button:hover, .section-button.active {
            background-color: #FFC600;
            cursor: pointer;

            font-weight: bold;
        }
    }

    #tag-container {
        margin: auto;
        padding: 0.25em;

        border-radius: 0.2em;
        background-color: #2b2b2b;

        .tag-button {
            margin: 0.25em;
            padding: 0.25em 0.5em;
            border-style: none;
            border-radius: 0.2em;
            background-color: #000000;
            color: #bdbdbd;
            font-size: 0.75em;

            .material-icons {
                font-size: 0.75em;
                align-items: center;
            }
        }
        .tag-button:hover, .tag-button.active {
            border: 1px solid #FFC600;
            cursor: pointer;
            color: #FFC600;
        }
        .message {
            font-family: var(--base-font-family);
            font-size: 0.5em;
            color: #FFC600;
            text-align: center;
    
            margin: auto;
            padding: 1em;
        }
    }
}

// EVENTS
.events-grid {
    width: 80%;
    height: 200px;
    margin: 2em auto;
    border-radius: 0.2em;

    #card-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0;
    }
}


// RESPONSIVE - TABLET --------------------------------------------
@media all and (max-width: 768px) {
    .events-grid{
        width: 80%;
    }
}

// RESPONSIVE - MOBILE --------------------------------------------
@media all and (max-width: 400px) {
    .events-grid {
        #card-container{
            display: flex;
            flex-wrap: nowrap;
            overflow-x: auto;
            margin: 0;
        }
    }
}